<h1>Welcome</h1>


<p> I'm  going to bring you on my journey to becoming a "Software Engineer". Over the next few months I'll be dedicating most of my free time learning the skills of a software engineer. "Ruby" and "Rails" (or Ruby on Rails) are the language and framework I'm going to learn. 
  </p>
  <p>

I'll get started with free online resources as I prepare for an online coding bootcamp <%= link_to "The Firehose Project", "http://www.thefirehoseproject.com" %>. 
</p>
<p>
The main goal of this blog is to teach you the basics of software engineering. I'll start with very simple concepts and move on to more complex topics about software engineering. At the end of each blog post there will be 3 multiple choice quesions that will test what you just learned.
</p>
<p>

The second goal is to make this as fun as possible. So I'll definitely add some cool things along the way!

<p>This app was built in Talsa Frans <%= link_to "Ruby on Rails class",
"http://skillshare.talsafran.com" %> on Skillshare.
 
</p>
